<div class="page-container">
  <header>
    <div>
      <button mat-button class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <a routerLink="/">
        <span class="app-title">Rack and Godown Management</span>
      </a>
    </div>
  </header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav autoFocus="false" mode="side" opened class="sidenav">
      <a mat-button routerLink="/racks-list">Rack Lists</a>
      <a mat-button routerLink="/add-rack">Add Rack</a>
      <a mat-button routerLink="/edit-rack">Edit Rack</a>
      <a mat-button routerLink="/godown-list">Godwon List</a>
      <a mat-button routerLink="/add-godown">Add Godown</a>
      <a mat-button routerLink="/edit-godown">Edit Godown</a>

    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet>
        
        </router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<!-- https://thesoftwayfarecoder.com/hamburger-menu-using-angular-material/ -->